* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    border: none;
    box-sizing: border-box;
}

section {
    min-height: 100vh;
}

.container {
    max-width: 1140px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 12px;
    padding-right: 12px;
}

.justify-content-between {
    justify-content: space-between;
}

.align-items-center {
    align-items: center;
}

.position-fixed {
    position: fixed;
}

.position-sticky {
    position: sticky;
}

.w-100 {
    width: 100%;
}

.side-navbar {
    width: 300px;
    min-height: 810px;
    height: 100%j;
}

.d-flex {
    display: flex;
}

.gap-25 {
    gap: 25px;
}

.flex-column {
    flex-direction: column;
}

.bg-yellow {
    background-color: yellowgreen;
}

.bg-blue {
    background-color: blue;
}

.mt-55 {
    margin-top: 55px;
}

.py-10 {
    padding-top: 10px;
    padding-bottom: 10px;
}

.btn {
    border-radius: 25.5px;
    padding: 8px 24px;
    background-color: black;
    color: white;
    border: 2px solid white;
}

.btn:hover {
    background-color: white;
    color: black;
    border-color: black !important;
}